<!DOCTYPE html>

<html>
    <head>
        <title>Registration page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div>
               <h1>Student Registration</h1> 
            </div>
            <div>
                <form>
                    <div class="form-group">
                      
                      <input type="first name" class="form-control" placeholder="First Name" required>
                    </div>
                    
                    <div class="form-group">
                        
                        <input type="middle name" class="form-control" placeholder="Middle Name" >
                    </div>
                    
                    <div class="form-group">
                        
                        <input type="last name" class="form-control"placeholder="Last Name" required>
                    </div>
                    
                    <div class="form-group">
                        
                        <input type="enrollment" class="form-control" placeholder="Enrollment no." required>
                    </div>
                    
                    <div class="form-group">
                       
                        <input type="Email" class="form-control" placeholder=" E-mail (e.g john123@xyz.com)" required>
                    </div>

                    <div class="form-group">
                        
                        <input type="mobile no" class="form-control" placeholder="Mobile no." required>
                    </div>

                    <div class="form-group">
                        
                        <input type="mobile no" class="form-control" placeholder="Enter a new password" required>
                    </div>

                    <div class="form-group">
                        
                        <input type="mobile no" class="form-control" placeholder="Re-type the password" required>
                    </div>
                    <div class="form-group">
                        
                        <button type="mobile no" class="btn button-submit" style="color:black;background:lightskyblue" placeholder="Mobile no.">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>
